.dark {
    background-color: #414059;

    & h1,
    h2,
    p,
    label,
    input,
    button {
        color: white;
    }

    & header button {
        background-color: #2a2938;
    }

    & header button:hover {
        background-color: #555475;
    }

    & #calculator a {
        background-color: #2a2938;
    }

    & #calculator a:hover {
        background-color: #555475;
    }
}
