@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #414059;
}

header {
    text-align: center;
    padding: 0.5%;

    & button {
        margin-left: 85%;
        background-color: #414059;
        color: white;
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;

        &:hover {
            background-color: #2a2938;
            cursor: pointer;
        }
    }
}

#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    padding: 2rem;
    padding-top: 5vh;
    padding-bottom: 6vh;

    & h2,
    label, input {
        color: #414059;
    }

    & h2 {
        font-weight: 500;
    }

    & div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        margin-top: 3rem;

    }

    & input {
        background-color: #ebebeb;
        padding: 0.7rem;
        border-radius: 0.5rem;
    }

    & input::placeholder {
        color: #9d9cb3;
    }

    & #divCheck label {
        font-size: 0.8rem;
    }

    & button {
        margin-top: 3rem;
        padding: 0.7rem;
        border: none;
        border-radius: 0.5rem;
        background-color: #F26389;
        color: white;

        &:hover {
            cursor: pointer;
            background-color: #df3260;
        }
    }
}



picture {
    display: block;
    text-align: center;
    margin-top: 5%;
    & img {
        width: 30rem; 
    }
}